* {
  margin: 0;
  padding: 0;
}

.core {
  background-image: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

h1 {
  margin: 15px;
  position: absolute;
}
h1 a {
  font-size: 25px;
  font-family: 'Delicious Handrawn', cursive;
  color: #0db821;
  text-decoration: none;
}

nav {
  background-color: transparent;
  height: 50px;
}

nav ul {
  text-align: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 15px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
  padding-left: 30px;
}

nav ul li a:hover {
  color: rgb(34, 177, 34);
}

#home {
  overflow: auto;
}

.content {
  margin: 100px;
  margin-left: 120px;
}

.content h2 {
  color: aliceblue;
  font-family: monospace;
  font-size: 30px;
  word-spacing: -5px;
  margin-bottom: 10px;
}

.content h2 span {
  font-family: 'Delicious Handrawn', cursive;
  font-weight: 800;
  font-size: 30px;
  word-spacing: 1px;
  color: rgb(26, 173, 26);
}

.content p {
  color: white;
  text-indent: 50px;
  max-width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content button {
  padding: 10px;
  margin-top: 10px;
  border-style: none;
  border-radius: 15px;
  background-color: rgb(6, 149, 6);
}

.content button a {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content button:hover {
  background-color: rgb(16, 175, 16);
}

.hero {
  text-align: end;
  margin-top: -250px;
  margin-right: 100px;
}

svg {
  margin-bottom: -4px;
}

#skill {
  text-align: center;
}

#skill h3 {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  margin-bottom: 100px;
}

.front-end {
  border-radius: 12px;
  margin-left: 20px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-end img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.back-end {
  border-radius: 12px;
  margin-top: 30px;
  float: right;
  margin-right: 20px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-end img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#skill h4 {
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-color: #24434f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

#project {
  text-align: center;
  background-image: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  overflow: auto;
}

#project h3 {
  text-transform: uppercase;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  margin-bottom: 100px;
  overflow: auto;
}

#project .api-content {
  background-color: white;
  margin-left: 100px;
  border-radius: 12px;
  padding: 20px;
  width: 20%;
  overflow: auto;
}

#project .img-content {
  text-align: center;
  margin-bottom: 20px;
}

#project .isi {
  display: block;
}

#project ul {
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-color: #24434f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

#project .api-content .description {
  color: black;
  font-size: larger;
  text-align: start;
  text-indent: 20px;
  margin: 20px;
}

#project .api-content button {
  background-color: rgb(6, 149, 6);
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  border-style: none;
}

#project .api-content button a {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#project .api-content button:hover {
  background-color: rgb(16, 175, 16);
}

.clear {
  clear: both;
}

#contact {
  display: grid;
  justify-items: center;
  align-items: center;
}

#contact h3 {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  margin-bottom: 100px;
}
#contact .hub ul li {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  font-size: large;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact .hub ul li span {
  display: block;
}

#contact .lokasi {
  margin-top: 20px;
  text-align: center;
}

.copyrigt {
  background-image: linear-gradient(to left, #0f2027, #203a43, #2c5364);
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: white;
}
